.custom-select {
  background-color: blue;
  color: white;
}

.navbar {
background: #a8ff78;  /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #78ffd6, #a8ff78);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #78ffd6, #a8ff78); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.header-color {
background-color: #5be496;
}

.table-anulada {
background-color: rgb(226, 164, 164);
}
.table-validada {
background-color: rgb(147, 212, 161);
}
.table-semi {
background-color: rgb(245, 183, 90);
}
.table-NoValidada {
background-color: rgb(170, 168, 168);
}
.bg-navidad{
background-color: rgb(94 175 168);
}
@media (max-width: 767px) {
.bor {
  
  border: 1px solid rgb(40, 75, 40);
  padding : 10px;
  max-width: 90%;
  margin-bottom: 10px;
  margin-top: 10px;
  margin-left: 2px;
  background-color: #e2e2e2;
  
}
}

/* styles.css */  
.p-datatable .p-datatable-thead > tr > th,  
.p-datatable .p-datatable-tbody > tr  {  
  border: 1px solid #ccc; /* Cambia el color y el estilo del borde según tus preferencias */  
}  

.p-column-title {
align-content: center;
}

/* Oculta los filtros por defecto */
/* Ajustes opcionales para los filtros */
/* styles.css */
/* filtro
.p-datatable.filters-visible .p-column-filter {
display: block; /* Muestra cuando la clase filters-visible está presente 
width: 100%; /* Asegura que el contenedor de los filtros ocupa todo el ancho disponible 
}
*/
/* Asegura que el contenedor del filtro ocupa todo el ancho disponible 
.p-datatable .p-column-filter {
width: 100% !important; /* Usa !important para asegurarte de que este estilo se aplique 
box-sizing: border-box; /* Incluye padding y border en el ancho total 
display: none; /* Oculta por defecto 
}

/* Ajusta el ancho del elemento que contiene el input */
/*
.p-datatable .p-column-filter .p-fluid {
width: 100% !important; /* Usa !important para asegurarte de que este estilo se aplique 
box-sizing: border-box; /* Incluye padding y border en el ancho total 
}
*/
.row-duplicada {
    background-color: #fff3cd !important; /* Color de fondo amarillo claro */
    border: 2px solid #ffc107 !important; /* Borde amarillo */
}

.row-duplicada:hover {
    background-color: #ffe69c !important; /* Color más oscuro al pasar el mouse */
}

/* Perfil.css */
.profile-container {
display: flex;
justify-content: center;
align-items: center;
min-height: 100vh;
background-color: #f4f4f4;
padding: 20px;
}

.profile-card {
background-color: #fff;
border-radius: 8px;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
max-width: 600px;
width: 100%;
padding: 20px;
}

.profile-card h2 {
margin-top: 0;
}

.profile-details {
display: flex;
flex-direction: column;
}

.profile-item {
margin-bottom: 10px;
}

.profile-item strong {
display: inline-block;
width: 120px;
}


.custom-file-input {
width: 80%; /* Ajusta el porcentaje según el tamaño deseado */
max-width: 500px; /* Opcional: Establece un ancho máximo */
}

.skeleton {
  background: #e0e0e0;
  height: 20px;
  margin: 5px 0;
}

.container {
  min-height: 85vh; /* Asegura que el contenedor ocupe al menos toda la altura de la ventana */
 
}

.modal-overlay {
  background-color: rgba(0, 0, 0, 0.75);
}

.comentario-input {
  width: 150px; /* O cualquier tamaño que necesites */
}
.custom-background {
  background: rgba(204, 218, 209, 0.1); /* Fondo azul suave */
  /* También puedes usar un gradiente o un color más suave */
  background: linear-gradient(45deg, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.5));
}

.logo-img {
  width: 50px;
  height: 50px;
  object-fit: contain; /* Hace que la imagen mantenga sus proporciones y la transparencia */
  background-color: transparent; /* Asegura que el fondo sea transparente */
}


.d-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h3 {
  padding: 1rem;
  text-align: center;
}
.ajuste-item {
  margin-bottom: 8px; /* Espacio entre cada ítem */
  font-size: 14px; /* Tamaño de fuente ajustado */
  color: #000000; /* Color de texto */
  line-height: 1.5; /* Separación entre líneas */
}

.container2 {
  min-height: 85vh; /* Asegura que el contenedor ocupe al menos toda la altura de la ventana */
  margin-bottom: 50px;
 
  margin-left: 50px;
  margin-right: 50px;

 
}


.filtros-trabajador-container, .table-container {
  width: 100%;
  box-sizing: border-box;
}
.filtros-trabajador-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: #edeaea;
  padding: 16px;
  gap: 10px;
}

.filtros-trabajador-card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 6px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: auto;
  box-sizing: border-box;
}

.filtros-info-extra {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; /* Alinea los párrafos al centro */
  font-size: 0.9rem;
  margin-top: 20px;
}


.filtros-trabajador-item {
  width: auto;
  padding: 5px, 20px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  box-sizing: border-box;
}

.filtros-trabajador-card select:focus, .filtros-trabajador-card input:focus {
  outline: none;
  border-color: #198754;
  box-shadow: 0 0 0 0.25rem rgba(25, 135, 84, 0.25);
}

.filtros-trabajador-card select option:hover {
  background-color: rgba(25, 135, 84, 0.2);
  color: #212529;
}

.filtros-trabajador-card select option:checked {
  background-color: rgba(25, 135, 84, 0.4);
  color: #fff;
}

.filtros-trabajador-card .btn {
  width: auto; /* Los botones deben ajustarse al contenido */
  margin-right: 10px;
}

.modal-trabajador {
  background-color: #eeefef;
}

.modal-trabajador .form-control:focus {
  outline: none;
  border-color: #198754; /* Color de éxito de Bootstrap */
  box-shadow: 0 0 0 0.25rem rgba(25, 135, 84, 0.25); /* Sombra para el enfoque */
}
.modal-trabajador select:focus {
  outline: none;
  border-color: #198754; /* Color de éxito de Bootstrap */
  box-shadow: 0 0 0 0.25rem rgba(25, 135, 84, 0.25); /* Sombra para el enfoque */
}
.modal-trabajador select option:hover {
  background-color: rgba(25, 135, 84, 0.2); /* Un tono verde más claro y transparente */
  color: #212529; /* Opcional: Cambiar el color del texto si es necesario para contraste */
}

.modal-trabajador select option:checked {
  background-color: rgba(25, 135, 84, 0.4); /* Un tono verde un poco más intenso y transparente para la selección */
  color: #fff; /* Opcional: Cambiar el color del texto de la opción seleccionada */
}

.modal-trabajador .form-group-checkbox {
  background-color: rgba(0, 0, 0, 0.1); /* Sombra más oscura para diferenciar */
  padding: 1rem;
  border-radius: 0.25rem;
  margin-top: 1rem;
}
/* Estilos específicos para el paginador */
.paginator-btn {
  border-color: #28a745; /* Color del borde verde (success) */
  color: #28a745; /* Color del texto */
}

.paginator-btn:hover {
  background-color: #218838 !important; /* Color de fondo al hacer hover */
  border-color: #1e7e34 !important; /* Color del borde al hacer hover */
  color: #fff; /* Color del texto al hacer hover */
}

.paginator-btn:focus {
  box-shadow: 0 0 0 0.25rem rgba(40, 167, 69, 0.5) !important; /* Sombra al hacer focus */
}

.pagination .page-item.active .paginator-btn,
.pagination .page-item .paginator-btn.active {
  background-color: #218838 !important; /* Color de fondo para el botón activo */
  border-color: #1e7e34 !important; /* Color del borde para el botón activo */
  color: #fff; /* Color del texto para el botón activo */
}


;
